#navbar {
    margin-left: 10vw;
    margin-right: 10vw;
    width:80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:10vh;
    background-color: aliceblue;
    border-radius: 25px;

}
h1::after {
    content: "!";
  }

h1:hover {
    color: gold;
    cursor:not-allowed;
}

div a {
    color:darkslateblue;
    font-family:'Times New Roman', Times, serif;
}
div a:hover{
    background-color: beige;
}

div:nth-child(3) {
    color: green;
}